AI_SERVICE_ENV=development
AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=8001

GRANITE_BASE_URL=http://127.0.0.1:11434
GRANITE_MODEL=ibm/granite4:latest
GRANITE_TIMEOUT_SECONDS=60

FAISS_INDEX_PATH=./data/vector_indexes
RAG_KNOWLEDGE_BASE_PATH=./data/reference
MODEL_ARTIFACT_PATH=./data/models
